/* .survey-container {
    /* width: 100vw;
    height: 100vh; 
    background-color: black;
    /* height: 100vh;
    width: 100vw; 
} */

.sv-container-modern {
font-family: "Montserrat",
sans-serif;
}

.sv-root-modern .sv-btn  {
    background-color: white;
    color: black;
}

.sv-completedpage {
    background-color: black !important;
    color: white;
}


/* #surveyContainer {
    background-color: black;
} */

.sv-table {
    background-color: black !important;
}

.sv-container-modern {
    color: white !important;
}

.sv-root-modern .sv-radio--checked .sv-radio__svg {
    fill: white !important;
    border-color: white !important; 
}

.sv-matrix__cell {
    min-width: 5em !important;
}

.sv-table__cell sv-matrix__cell{
    padding: 10px !important;
} 