.survey-container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.form-container-steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.others-input {
    width: 300px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.survey-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    text-align: center;
}

@media screen and (max-width: 760px) {
    .form-container-steps {
        grid-template-columns: 1fr 1fr;
    }

    .survey-content-wrapper {
        height: auto;
    }

    .survey-container {
        height: auto;
    }

}