@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

.text-result-wrapper {
  font-family: "Montserrat", sans-serif;
  width: 800px;
}

.score-section {
  width: 100vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-title {
  font-size: 60px;
  color: rgb(27, 24, 24);
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.score-result-title {
  font-size: 30px;
  color: rgb(27, 24, 24);
  text-align: center;
  font-weight: 300;
  margin: 20px 0px;
  font-family: "Montserrat", sans-serif;
}

.score-result-text {
  font-size: 20px;
  color: rgb(27, 24, 24);
  text-align: center;
  margin: 20px 0px;
  font-family: "Montserrat", sans-serif;
}

.score-numbers {
  font-size: 80px;
  color: rgb(27, 24, 24);
  text-align: center;
  font-weight: 300;
  //   margin-top: 5%;
  font-family: "Montserrat", sans-serif;
}

.buttons-results {
  display: flex;
  justify-content: space-evenly;
}
.tryAgain-button-container {
  margin-top: 19%;
  text-align: center;
}
.tryAgainButton {
  width: 250px;
  font-size: 20px;
  color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  margin: 5px 0px;
  border: none;
  height: 45px;
  font-family: "Montserrat", sans-serif;
  background-color: #050505;
}

.shareButton {
  width: 250px;
  font-size: 20px;
  color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  margin: 5px 20px;
  border: none;
  height: 45px;
  font-family: "Montserrat", sans-serif;
  background-color: gray;
}


.share-modal-container input {
    border: 1px solid black;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  width: 600px;
  padding: 10px;
  color: black;
}


.share-modal-container {
  width: 700px;
  height: 400px;
  background-color: #f5f5f5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  padding: 30px;
  border: #050505 solid 1px;
}

.share-modal-container h2 {
  color: black;
}


@media screen and (max-width: 760px) {
.share-modal-container {
  width: auto;
flex-direction: column; 
 background-color: #f5f5f5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  padding: 30px;
  border: #050505 solid 1px;
}


.score-title {
  font-size: 30px;
}
.score-result-title {
  font-size: 20px;

}

.score-result-text {
  font-size: 16px;
  padding: 20px 40px;
  margin: 0px;
}

}