.arrow-back {
  position: absolute;
  top: 50%;
  right: 30px;
    cursor: pointer;
}

.arrow-back svg {
  font-size: 100px;
}

.arrow-forward {
  position: absolute;
  top: 50%;
  left: 30px;
  cursor: pointer;
}

.arrow-forward svg {
  font-size: 100px;
}

.buttons-indicators p {
  font-size: 18px;
}

.buttons-indicators button:active, button:focus {
    background-color: transparent;
}

@media  screen and (max-width: 760px) {
    .arrow-back {
        top: 80%;
    right: 90px;
  }

  .arrow-forward {
    top: 80%;
    left: 90px;
  }

  .arrow-forward svg, .arrow-back svg {
        font-size: 50px;
  }
  
}
