:root {
  --main-bg-color: hsl(234, 17%, 12%);
  --Soft-red: hsl(345, 95%, 68%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

.Counter {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 30px;
  right: 30px;
  font-family: "Red Hat Text", sans-serif;
}

.countdown-container {
  /* display: flex; */
  gap: 20px;
  overflow: hidden;
  justify-content: center;
}

.countdown-container div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.danger {
  border: 1px solid red;
}

.countdown-container h2 {
  padding: 0px;
  color: var(--main-bg-color);
  font-size: 50px;
}

.countdown-container p {
  color: var(--main-bg-color);
  text-transform: uppercase;
  font-size: 4em;
}

@media screen and (max-width: 768px) {
  .Counter {
    height: auto;
  }
  .countdown-container {
    flex-direction: column;
    align-items: center;
  }

  .Counter {
    right: 50px;
  }

  .Normal {
    color: gray !important;
  }

  .Danger {
    color: red !important;
  }

  .Finished {
    border: blue !important;
  }
}
