.initial-text-container {
  width: 400px;
  background-color: black;
  padding: 30px;
  font-size: 14px;
}

.initial-text-container p {
  font-weight: 200;
     font-family: 'Conduit ITC Medium', sans-serif;
         font-size: 3em;

  /* font-family: "Spartan", sans-serif; */
}
