/* .initial-text-container {
  width: 600px;
  background-color: black;
  padding: 30px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initial-text-container img {
  width: 400px;
  padding: 40px 0px;
}

.initial-text-container p {
  font-weight: 200;
  font-family: "Conduit ITC Medium", sans-serif;
  font-size: 2em;
  width: 400px;
  margin: 20px 0px;
}




 */
