@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;700&display=swap");

* {
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
  overflow: hidden;
}

.container video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.game-container {
  background-color: #252d4a;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */

.question-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 200;
  font-family: "Spartan", sans-serif;
  /* padding: 100px; */
}

.question-section {
  width: 800px;
}

.question-image {
  /* width: 400px;
  height: 100px; */
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 16px;
}

.question-text {
  /* margin-bottom: 12px; */
  padding: 20px 0px;
  text-transform: capitalize;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.playGameButton {
  width: 400px;
  font-size: 16px;
  color: #234668;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  margin: 5px 0px;
  border: none;
  height: 40px;
}

.playGameButton:focus {
  border: 3px solid hsl(345, 95%, 68%);
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  color: white;
  background-color: hsl(345, 95%, 68%);
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

@media screen and (max-width: 760px) {
  .container video {
    height: 100vh;
    width: 100vw;
  }

  .question-container {
    padding: 40px;
  }

  .playGameButton {
    width: 300px;
  }

  .question-image {
    width: 300px;
  }
}
